.BasicLayout {
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 30px 50px;
    margin: 0 auto;
    margin-bottom: 2em;
    border: 0px solid black;
    display: flex;
    
  }
  
  @media (max-width: 600px) {
    .BasicLayout {
      max-width: 94%;
      margin: 0 auto;
      padding: 0px 5px;
      margin-bottom: 2em;
    }
  }
  
  @media (min-width: 600px) and (max-width: 1000px) {
    .BasicLayout {
      width: 1110px;
      height: auto;
      max-width: 80%;
      padding: 30px 15px;
      /* float: left; */
      margin: 0 auto;
      margin-bottom: 2em;
      display: block;
      border: 0px solid black;
    }
  }
  